
/*header*/
/*cores: hex
#5d5d5d cinza 1 
#facd00 amarelo 
#fff6ce amarelo claro 
#bbbbbb braco 
box-shadow: offset-x offset-y blur-radius spread-radius color;
*/

body {
    background: url(imagens/poke_black.PNG) no-repeat center / cover;
    background-attachment: fixed;
    background-size: 50%; 
    background-color: #5d5d5d;
    margin: 0;
    padding-top: 200px;
}

header{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 15px 15px 15px 15px;
    margin: 0%;
    background-color: #0e0e0e;
    box-shadow: 0px  1px 3px 3px #0e0e0e4a;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img{
    width: auto;
    height:60px;
    display: flex;
    align-items: center;
}

.icones{
    width: 50%;
    margin-left: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.icones_h{
    height: 40px;
    width: 100px;
    padding: 10px;
    background-color: #facd00;
    border-radius: 15px;
    border:2px solid #bbbbbb;
    color: #0e0e0e;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: inline-flex;
    justify-self: right;
    justify-content: center;
    align-items: center;
    right: 40px;
    transition: 0.3s;
}

.icones_h:hover{
    opacity: 1;
    background-color: #967b00;
}

footer{
    position:relative;
    display: flex;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 15px 15px 15px 15px;
    margin: 0%;
    background-color: #0e0e0e;
    color: #bbbbbb;
    justify-content: center;
    z-index: 1000;
}