
/*header*/
/*cores: hex
#5d5d5d
#facd00
#bbbbbb
box-shadow: offset-x offset-y blur-radius spread-radius color;
*/

body {
    background: url(imagens/poke_black.PNG) no-repeat center / cover;
    background-attachment: fixed;
    background-size: 50%; 
    background-color: #5d5d5d;
    margin: 0;
    padding-top: 200px;
}

header{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 15px 15px 15px 15px;
    margin: 0%;
    background-color: #0e0e0e;
    box-shadow: 0px  1px 3px 3px #0e0e0e4a;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.logo img{
    width: auto;
    height:60px;
    display: flex;
    align-items: center;
}


footer{
    position:relative;
    display: flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 15px 15px 15px 15px;
    margin: 0%;
    background-color: #0e0e0e;
    color: #bbbbbb;
    justify-content: center;
    z-index: 1000;
}