h1{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    opacity: 1;
}

.cadastro_div, .login_div{
    background-color: RGBa(187,187,187,0.6);
    box-shadow: 0px  3px 3px 3px #0e0e0e4a;
    border-radius: 15px;
    border:1px solid #0e0e0e;
    height: auto;
    width: 50%;
    padding: 5%;
    position: relative;
    justify-self: center;
}

.info{
    border-radius: 10px;
    border: 2px solid #0e0e0e;
    margin: 5px;
    display: flex;
    position: relative;
    justify-self: center;
    height: 40px;
    width: 80%;
    text-align: center;
}

.btn{
    border-radius: 10px;
    border: 2px solid #0e0e0e;
    display: flex;
    position: relative;
    justify-self: center;
    height: 30px;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color:  #facd00;
    transition: 0.3s;
}

.btn:hover{
    background-color: #967b00;
}