spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update   # para começar rápido; em produção use migrações
    properties:
      hibernate:
        format_sql: true
    show-sql: true
server:
  port: 8080
